<fieldset>
        <legend> New Show </legend>
        <p>
            <label for="title">Title</label><br>
            <input type="text" name="title" value="{{show.title}}"/>
        </p>
        <p>
            <label for="genre">Genre</label><br>
            <input type="text" name="genre" value="{{show.genre}}"/>
        </p>
</fieldset>
