<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>{{show.title}}</h1>
    <h2>{{show.genre}}</h2>

    <p>
        <a href="/shows/{{show._id}}/edit">
            <button class="btn btn-primary" type="submit">
                Edit
            </button>
        </a>
    </p>
    <form method="POST" action="/shows/{{show._id}}?_method=DELETE">
        <button class="btn btn-primary" type="submit">Delete</button>
    </form>

  </div>
</div>
