<h1 class="text-center"> Shows </h1>

<div class="row">
    {{#each shows}}
    <div class="col-sm-3">
      <h2><a href="/shows/{{this._id}}">{{this.title}}</a></h2>
      <small>{{this.genre}}</small>
    </div>
  {{/each}}
</div>
